# build output
dist/
.output/
.vercel/
.netlify/

# dependencies
node_modules/

# Astro
.astro/

# env / secrets (claves de pasarela de pago a futuro)
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
